div{
    width: 800px;
    /*box-sizing: border-box;*/
    margin: 1em;
    display: flow-root;
}
div > div {
    float:left;
    padding: .5em;
    border: .1em green solid;
    margin: 0; /*verander de waarde naar 1px. Wat gebeurt er? Verklaar. */
    text-align: center;
}
